<!doctype html>
<html>
<head>
  <title>Nano Banana</title>
</head>
<body>
  <h1>Nano Banana 🍌</h1>

  <form method="post">
    <input name="prompt" placeholder="Введите текст" style="width:300px">
    <button type="submit">Отправить</button>
  </form>

{% if status %}
  {% if status == "queued" %}
    <p><b>Статус:</b> в очереди 🕒</p>
  {% elif status == "processing" %}
    <p><b>Статус:</b> в обработке ⚙️</p>
  {% elif status == "done" %}
    <p><b>Статус:</b> готово ✅</p>
  {% endif %}
{% endif %}



</body>
</html>
