<!doctype html>
<html>
<head>
  <title>Nano Banana</title>
</head>
<body>
  <h1>Nano Banana 🍌</h1>

  <form method="post">
    <input name="prompt" placeholder="Введите текст" style="width:300px">
    <button type="submit">Отправить</button>
  </form>

{% if status %}
<p><b>Статус:</b> <span id="status">
  {% if status == "queued" %}
    в очереди ⏳
  {% elif status == "processing" %}
    в обработке ⚙️
  {% elif status == "done" %}
    готово ✅
  {% endif %}
</span></p>
{% endif %}




{% if job_id %}
<script>
  const jobId = "{{ job_id }}";

  async function checkStatus() {
    const res = await fetch(`/status/${jobId}`);
    const data = await res.json();

    const statusEl = document.getElementById("status");
    if (!statusEl) return;

    if (data.status === "queued") {
      statusEl.innerText = "в очереди 🕒";
    } else if (data.status === "processing") {
      statusEl.innerText = "в обработке ⚙️";
    } else if (data.status === "done") {
      statusEl.innerText = "готово ✅";
      return; // перестаём опрашивать
    }

    setTimeout(checkStatus, 1000);
  }

  checkStatus();
</script>
{% endif %}
</body>
</html>
